.grid{
    display: grid;
    position:absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    padding: 1.5em 1.5em;
    width: 1fr;
    grid-template-columns: repeat(4,minmax(1em,1fr));
    background-color: rgb(48, 48, 48);
    gap:1rem;
}

.screen{
    grid-column: 1 / -1;
    height: 5em;
    border-radius: 0.625em;
    background-color: grey;
}

.screen::before{
    content: '';
    display: inline-block;
    position: relative;
    top:50%;
    left:97%;
    transform: translate(-100%,-50%);
    width:0.75em;
    height: 4em;
    background-color: steelblue;
    animation : blinking 0.25s infinite;
}

.button{
    font-size: 2.3em;
    font-weight: 900;
    border-radius: 0.25em;
    color :steelblue;
    background-color: rgb(48, 47, 35);
    text-align: center;
    width: auto;
    overflow: hidden;
}

@media only screen and (max-width: 600px), screen and (max-height: 600px) {
    .grid{
        width:17em;
    }

    .screen{
        height: 4em;
    }

    .screen::before{
        height: 3em;
    }

    .button{
        font-size: 1.6em;
    }
    
    
}

@keyframes blinking{
    0%{opacity: 0%;}
    50%{opacity: 100%;}
    100%{opacity: 0%;}
}